<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>Payzen\Payzen</fullnamespace>
    <descriptive locale="en_US">
        <title>Pay with Payzen</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Payer avec Payzen</title>
    </descriptive>
    <version>1.1.0</version>
    <author>
        <name>Franck Allimant</name>
        <email>franck@cqfdev.fr</email>
    </author>
    <type>payment</type>
    <thelia>2.0.0</thelia>
    <stability>prod</stability>
</module>
